@model Portfolio

<form method="post">
    <div class="col-5">
        <label asp-for="Title" ></label>
        <input class="form-control mb-2" asp-for="Title" />
        <label asp-for="Description" ></label>
        <input class="form-control mb-2" asp-for="Description"/>
        <label asp-for="PhotoURL" ></label>
        <input class="form-control mb-2" asp-for="PhotoURL" />
        <input class="btn btn-warning btn-sm" type="submit" value="Create" />
    </div>
    
</form>

